
		body {
			margin: 0;
			padding: 0;
			overflow-x: hidden;
			background-color: #000;

			font-size: 12px;
			color: #fff;
			line-height: 16px;
			
			font-family: Geometria-Light,sans-serif;
		}

		   @font-face {
			    font-family: Geometria; /* Имя шрифта */
			    src: url(webfonts/Geometria.otf); /* Путь к файлу со шрифтом */
			   }

			 @font-face {
			    font-family: Geometria-Bold; /* Имя шрифта */
			    src: url(webfonts/Geometria-Bold.otf); /* Путь к файлу со шрифтом */
			   }


		.space {
			width: calc(100% - 90px);
			left: 90px;
			height: 3844590px;
			position: relative;
			overflow: hidden;
		}

		.sky_gradient {
			/*background: linear-gradient(to top, #51a6f6 0%, rgba(37,132,221,0) 100%); 282883 */
			background: linear-gradient(to top, #a9d3fb 0%, #51a6f6 30%, #2d2da5 70%, #080736 100%);
			width: 100%;
			height: 200px;
			position: absolute;
			bottom: 0;
		}


		@keyframes pulse {
			from { opacity: 0; }
			50% { opacity: 1; }
			to { opacity: 0; }
		}

		a {
			color: #fff;
			text-decoration: none;
			border-bottom: 1px solid rgba(255,255,255,0.2);
		}

		a:hover {
			border-bottom-color: #fff;
		}

		a:visited {
			color: #fff; /* #ebd4ff;*/
			border-color: #fff; /*#ebd4ff;*/
		}

		h1 {
			letter-spacing: 0.7em;
			font-weight: normal;
		}

		.main_title {
			position: absolute;
			width: 300%;
			left: -100%;
			right: -100%;
			text-align: center;
			bottom: calc(402px - 0.5em);
			opacity: 0;
			transition: opacity 7s ease-in;
			text-align: center;
			font-size: 62px;
		}

		.hipsta_title {
			width: 900px;
			left: calc(50% - 450px);

			height: 100vh;
			max-height: 720px;
			min-height: 680px;

			position: absolute;
			bottom: 0px;

			font-size: 180px;
			line-height: 123px;
		}

		.hipsta_title table {

			width: 100%;

			position: absolute;
			bottom: 0px;
			height: 100%;

			text-align: center;
			font-weight: normal;

			border-collapse: collapse;

		}

		.hipsta_title td {
			/*border: 1px solid rgba(255,255,255,0.4);*/
		}

		.hipsta_title tr:first-child td {
			vertical-align: top;
		}


		.hipsta_title tr:last-child td {
			vertical-align: bottom;
		}


		.aerostat {
			left: calc(50% + 490px);
			right: auto;
		}



		.title_role {
			position: fixed;
			left: 130px;
			bottom: 20%;
		}

		.title_role_role {
			font-size: 12px;
			margin-bottom: 7px;
		}

		.title_role_name {
			font-size: 20px;
			letter-spacing: 3px;
			margin: 0;
			text-transform: uppercase;

			font-family: Geometria-Light;

		}

		.law_title {
			position: fixed;
			bottom: 24px;
			left: 10px; 
			right: 10px; 
			text-align: center;s

		}

		.title_link {
			font-size: 12px;

		}

		.content {
			position: relative;
		}

		.abso-100 {
			width: 100%;
			position: absolute;
			}

		.temp_gradient {
			background: linear-gradient(to top, 
				/*#753e27 0%,*/
				#00022e 5.9%,
				#221854 25%,
				#000226 43%,
				#ca3b21 100%);
			height: 2000px;
			bottom: 0;
		}


		.info-temp_gradient {
			background: linear-gradient(to top, 
				#753e27 0%,
				#00022e 22%,
				#221854 52%,
				#000226 72%,
				#ca3b21 100%);
			height: 2000px;
			bottom: 0;
		}

		.termo-temp-grad {
			background: linear-gradient(to top, 
				#ca3b21 0%,#000000 100%);
			height: 1500000px;
			bottom: 1999px;

		}

		.infoscroll {
			width: 90px; 
			left: 0px; 
			bottom: 0px; 
			height: 100vh;
			position: fixed;
		}

		.infoscroll .gradient {
			height: auto;
			width: 100%;
			position: absolute;
		}


		.info_temp {
			left: 0px;
			width: 40px;
		}

		.info_temp div {
			text-align: left;
			position: absolute;
			width: 40px;
			height: 0px;
			/*background-color: rgba(255,255,255,0.4);*/
		}

		.info_obj {
			position: absolute;
			width: 1px;
			left: 32px;
		}

		/*.info_obj div {
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: #fff;
			opacity: 0.8;
			left: -2px;
		}*/


		.click_area {
			position: absolute;
			border-radius: 50%;
			background-color: rgba(0,0,0,0.0);
			cursor: pointer;
		}

		.log_point {
			width: 2px;
			height: 2px;
			margin: 8px;
			border-radius: 50%;
			background-color: #fff;
		}

		.info_temp div span {
			padding-left: 2px;
			opacity: 0.6;
			font-size: 10px;
		}
		.info_temp div:first-child span { /* стиль для первой температуры */
			bottom: 1px;
			position: absolute;
		}

		.infoscroll.slider {
			width: 89px;
			height: auto;
			border: 1px solid blue; /*#001eff;*/

		}		

		.infoscroll.slider.hover {
			opacity: 0.5;
			display: none;
		}

		.info_line {
			position: fixed;
			width: 10px;
			right: calc(100% - 90px);
			height: 1px;
			
			background-color: rgba(255,255,255,0.2);
		}

		.layer_line {
			position: fixed;
			width: 90px;
			height: 0px;
			border-top: 1px dashed rgba(255,255,255,0.4);
			text-align: left;
		}


		.layer_line span {
			padding-left: 44px;
			opacity: 0.6;
			font-size: 10px;
			text-transform: uppercase;
			
		}

		.info_line:nth-child(9n+1) {
			background-color: rgba(255,255,255,0.6);
			width: 20px;
		}

		.info_line:nth-child(9n+5) {
			background-color: rgba(255,255,255,0.4);
		}

		.info_line span{
			position: absolute;
			bottom: 0px;
			font-size: 10px;
			width: 50px;
			right: 0px;
			text-align: right;
		}

		.info_title {
			position: fixed;
			top: 2px;
			left: 2px;
			font-size: 10px;
		}

		.sticky {
			position: fixed;
			top: 10px;
			left: 150px;

			visibility: hidden;
			opacity: 0;
			transition: none;
		}

		.sticky_lower {
			transition: opacity 0.2s ease-out, visibility 0.2s step-start;
		}

		.sticky_visible {
			visibility: visible;
			opacity: 1;
		}

		/*--------------------------------------------------------------------------------------------*/

		.point {
			position: absolute;
			width: 1px;
			height: 1px;
			bottom: 110px;
			background-color: #fff;
		}

		.line {
			position: absolute;
			width: 100%;
			height: 0px;
			bottom: 110px;
			/*background-color: rgba(255,255,255,0.1);*/
			border-top: 1px dashed rgba(255,255,255,0.2);
		}

		.title {
			position: absolute;
			height: 20px;
			left: 10px;
		}

		.bdg {
			position: absolute;
			height: 1px;
			right: 0px;
			width: 250px;
		}

		.bdg_hidden {
			visibility: hidden;
		}

		.all-width
		{
			width: 100%; 
		}

		.bdg_title {
			position: absolute;
			top: 2px;
			right: 50px;
			width: 160px;
			text-align: right;
		}

		.left {
			left: 10px;
			text-align: left;
		}

		.bdg_descriptor {
			    left: 60px;
		}

		.bdg_sticky {
			position: fixed;
			top: 10px;
		}

		.height {
			text-align: right;
			right: 4px;
			width: auto;
			opacity: 0.5;
		}
		.transp {
			opacity: 0.5;
		}
		.dot {
			position: absolute;
			width: 1px;
			height: 1px;
			left: -10px;
			background-color: #fff;
		}
		.badge {
			position: absolute;
			height: 1px;
			width: 250px;
		}
		.badge a {
			font-family: Geometria-Bold;
			font-weight: normal;
			font-size: 18px;
			line-height: 110%;
			margin-bottom: 8px;
			display: block;
			padding-bottom: 3px;
		}
		.badge object {
			/*position: absolute; 
			top: 0px;*/
		}
		.badge .year {
			margin-top: 8px;
		}
		.height-2 {
			margin-top: 4px;
			margin-bottom: 2px;
		}
		.height-2, .descr {
			opacity: 0.8;
		}

		.aerostat {
			left: calc(50% + 70px);
		}

		.react {
			left: calc(50% - 200px); 
		}
		.zond {
			left: calc(50% - 300px);
		}
		.polar {
			left: calc(50% + 350px);
		}

		@media only screen and (max-width: 1300px) {
			/*.main_title {
				font-size: 7.5vw;
			}

			.aerostat {
				left: 86vw;
			}	

			.react {
				left: calc(58.6vw - 13px);
			}

			.zond {
				left: 30.3vw;
			}*/

			.polar {
				left: 75vw;
				width: 23vw;
			}

		}

		.col-1 {
			left: 50%;left: calc(50% + 130px)
		}

		.col-2 {
			left: 75%;
		}

		.capt {
			text-transform: uppercase;
			letter-spacing: 0.2em;
			font-size: 11px;
		}

		.autopilot {
			padding: 6px 14px 8px;
			background-color: rgba(13,10,61,0.1);

			font-family: Geometria;
			border: 1px solid #fff;
			color: #fff;
			border-radius: 3px;
			position: fixed;
			right: 30px;
			bottom: 20px;
			font-size: 14px;
		}

		.autopilot_active {
			background-color: #2c2ca1;
			border: 1px solid #2c2ca1;
		}
		.autopilot.autopilot_active:hover {
			background-color: #3434b2;

			border: 1px solid #3434b2;
		}

		.autopilot:hover {
			background-color: rgba(13,10,61,0.3);
			cursor: pointer;
			border: 1px solid #fff;
		}

		.autopilot_speed {
			padding: 6px 14px 8px;
			background-color: rgba(0,0,0,0);
			border: 1px solid rgba(0,0,0,0);

			font-family: Geometria;
			font-size: 14px;

			color: #fff;
			border-radius: 3px;

			position: fixed;
			right: 142px;
			bottom: 20px;
		}

		.credit {
			position: fixed;
			top: 30%;
			left: 200px;
			width: 460px;
			font-size: 23px;
			line-height: 130%;
			font-family: Geometria;

			opacity: 1;
			visibility: visible;
			transition: opacity 0.3s ease-in-out, visibility 0.3s step-start;
		}

		.credit_hidden {
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.5s ease-in-out, visibility 0.5s step-end;
		}